@model LacerdaContrucoes.Models.CategoriaDeProdutos

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<div class="alert alert-danger text-center" role="alert">
    Você tem certeza de que quer apagar isto?
</div>

<div>
    <h4 class="text-white text-center">Categoria De Produtos</h4>
    <hr />
    <dl class="row justify-content-center text-white text-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDaCategoria)
        </dt>
        <hr />
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeDaCategoria)
        </dd>
        <hr />
    </dl>

    <form asp-action="Delete" class="d-flex justify-content-center">
        <input type="hidden" asp-for="CategoriaDeProdutosId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary ms-3">Voltar para a lista</a>
    </form>
</div>
