@model LacerdaContrucoes.Models.CategoriaDeProdutos

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-white text-center">Detalhes</h1>

<div>
    <h4>Categoria De Produtos</h4>
    <hr />
    <dl class="row justify-content-center text-center text-white">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDaCategoria)
        </dt>
        <hr />
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDaCategoria)
        </dd>
        <hr />
    </dl>
</div>
<div class="d-flex justify-content-center">
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.CategoriaDeProdutosId">Editar</a> 
    <a asp-action="Index" class="btn btn-secondary ms-3">Voltar para a lista</a>
</div>
