@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Welcome</h1>
    <h4>A melhor loja de construções de todo o Brasil</h4>
    <p class="sub">Nós somos a <span class="ok">Lacerda Construções</span></p>
    <p class="conteudo">
        O nossa loja é um lugar muito especial para todos aqueles que amam materiais de
        construção. Se você é um dono orguhoso de uma casa, ou se está apenas pensando em construir
        um
        lar, uma loja como a nossa é o lugar perfeito para encontrar tudo o que você precisa.
    </p>
</div>
